@import "~swiper/css/swiper.min.css";

.landing {
  width: 100%;
  padding: 40px 20px 0;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding: 40px 50px 0;
  }
}

.landing__section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.landing__title {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  h1 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 70px;
      line-height: 70px;
    }
  }
}

.landing__info {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -35px;
    margin-bottom: -35px;
  }

  li {
    position: relative;
    padding-left: 45px;
    margin-right: 35px;
    margin-bottom: 35px;

    @media (min-width: 768px) {
      flex-basis: 45%;
    }

    @media (min-width: 1200px) {
      flex-basis: auto;
    }

    &:nth-child(1) svg {
      color: #5D9CEC;
    }

    &:nth-child(2) svg {
      color: #F94300;
    }

    &:nth-child(3) svg {
      color: #5FB91C;
    }

    &:nth-child(4) svg {
      color: #FD9B00;
    }
  }

  svg {
    position: absolute;
    left: 0;
    top: 7px;
  }

  strong {
    display: block;
    font-size: 22px;
    line-height: 20px;
    margin-top: 6px;
  }
}

.landing__logo {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.landing__desc {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.landing__content {
  text-align: center;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 35px;

    @media (min-width: 992px) {
      font-size: 40px;
      line-height: 52px;
    }
  }
}

.landing__slider {
  --swiper-theme-color: #5D9CEC;
  --swiper-navigation-size: 24px;

  margin: 20px -30px -30px;

  @media (min-width: 992px) {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.landing__example {
  padding: 30px;

  img {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  }
}

.landing__sign {
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.landing__nav {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: $width;
    transform: translate3d(-50%, -50%, 0);
    content: "";
  }

  &--prev {
    left: 30px;

    @media (min-width: 768px) {
      left: 0;
    }

    &:hover {
      --swiper-theme-color: darken(#5D9CEC, 5%);
    }
  }

  &--next {
    right: 30px;

    @media (min-width: 768px) {
      right: 0;
    }

    &:hover {
      --swiper-theme-color: darken(#5D9CEC, 5%);
    }
  }
}

.landing__features {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: flex;
  }

  li {
    text-align: center;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    @media (min-width: 768px) {
      flex-basis: 33.33%;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }

    h3 {
      margin: 30px 0 16px;
      font-size: 22px;
      line-height: 28px;
    }
  }
}

.landing__action {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  a {
    background-color: #54AA5D;
    color: #fff;
    border-radius: 3px;
    padding: 16px 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    max-width: 270px;
    font-size: 20px;
    line-height: 28px;

    &:hover {
      background-color: darken(#54AA5D, 5%);
    }
  }
}

.landing__contacts {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #D3D8DF;
  border-bottom: 1px solid #D3D8DF;
  display: flex;
  justify-content: space-between;
}

.landing__us {
  li:not(:last-child) {
    margin-bottom: 20px;
  }

  a {
    &[href^="tel"] {
      color: #000;
      font-size: 23px;
      line-height: 28px;
      font-weight: bold;
    }
  }
}

.landing__site {
  margin-bottom: 0.25em;
  font-weight: bold;

  a {
    color: #000;
  }
}

.landing__map {
  position: relative;

  @media (max-width: 991px) {
    display: none;
  }

  a {
    position: absolute;
    top: 50%;
    right: 65%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    font-size: 11px;
    line-height: 20px;
    color: #000;
    margin-top: -12px;
  }

  svg {
    margin-left: 7px;
  }
}
