<main class="main">
  <div class="landing">
    <div class="landing__section">
      <div class="landing__title">
        <h1>Вычислим по ай-пи!</h1>
      </div>

      <ul class="landing__info">
        <li>
          <svg width="34" height="40">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Ваш IP
          <strong>37.214.55.49</strong>
        </li>
        <li>
          <svg width="34" height="40">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Страна
          <strong>Беларусь</strong>
        </li>
        <li>
          <svg width="34" height="40">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Город
          <strong>Санкт-Петербург</strong>
        </li>
        <li>
          <svg width="34" height="40">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Координаты
          <strong>59.9:27.56667</strong>
        </li>
      </ul>
    </div>

    <div class="landing__section">
      <div class="landing__logo">
        <img src="/media/geo.svg" width="135" height="135" alt="">
      </div>

      <div class="landing__desc">
        Быстро и точно обеспечим сбор геоданных для комплексного анализа статистики посещений
      </div>

      <div class="landing__action">
        <a href="#">
          Попробовать
        </a>
      </div>
    </div>

    <div class="landing__section">
      <ul class="landing__features">
        <li>
          <img src="/media/feature-1.svg" width="115" height="75" alt="">

          <h3>Быстро</h3>

          Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия.
        </li>
        <li>
          <img src="/media/feature-2.svg" width="72" height="75" alt="">

          <h3>Оптимально</h3>

          Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.
        </li>
        <li>
          <img src="/media/feature-3.svg" width="102" height="75" alt="">

          <h3>Удобно</h3>

          Идеи гедонизма занимают центральное место в утилитаризме, однако язык образов неоднозначен.
        </li>
      </ul>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>Расширенные настройки</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>
          </div>

          <div class="swiper-button-prev  landing__nav  landing__nav--prev"></div>

          <div class="swiper-button-next  landing__nav  landing__nav--next"></div>
        </div>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>Расширенные настройки</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/geo-1.png" alt="" width="860" height="397">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>
          </div>

          <div class="swiper-button-prev  landing__nav  landing__nav--prev"></div>

          <div class="swiper-button-next  landing__nav  landing__nav--next"></div>
        </div>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__action">
        <a href="#">
          Попробовать
        </a>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__contacts">
        <ul class="landing__us">
          <li>
            <svg width="112" height="20" aria-label="Webway">
              <use xlink:href="/media/webway.svg#logo"></use>
            </svg>
          </li>
          <li>
            <div class="landing__site">
              <a href="https://webway.ru">webway.ru</a>
            </div>

            <a href="tel:+74952311690">+7 495 231 16 90</a><br>
            <a href="tel:+74996531229">+7 499 653 12 29</a>
          </li>
          <li>
            Москва, Щелковское шоссе д. 2А,<br>
            ст. м. Черкизовская, Преображенская площадь
          </li>
          <li>
            Для вопросов и предложений<br>
            <a href="mailto:clients@webway.ru">clients@webway.ru</a><br>
          </li>
          <li>
            Техническая поддержка<br>
            <a href="mailto:support@webway.ru">support@webway.ru</a>
          </li>
        </ul>

        <div class="landing__map">
          <a href="https://yandex.ru/maps/-/CGh~aGZd" target="_blank">
            Смотреть на Яндекс-карте
            <svg width="27" height="9">
              <use xlink:href="/media/icon-arr-right.svg#arr-right"></use>
            </svg>
          </a>
          <img src="/media/map.png" alt="Карта" width="302" height="302">
        </div>
      </div>
    </div>
  </div>
</main>
