.header {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 100;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.header__nav {
  display: flex;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
  }
}

.header__clip {
  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
    clip-path: inset(0 0 20px 0);
    margin-bottom: -20px;
  }
}

.header__scroll {
  @media (max-width: 767px) {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
  }
}

.header__menu {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  li {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 20px;

      @media (min-width: 768px) {
        margin-right: 35px;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: #5D9CEC;
    }
  }

  .active a {
    color: #5D9CEC;
  }
}

.header__login {
  @media (max-width: 767px) {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: 768px) {
    margin-left: 35px;
  }

  a {
    border: 2px solid currentColor;
    border-radius: 3px;
    color: #5D9CEC;

    @media (max-width: 767px) {
      display: block;
      padding: 4px 14px;
    }

    @media (min-width: 768px) {
      padding: 14px 25px;
    }

    &:hover {
      color: darken(#5D9CEC, 5%);
    }
  }
}
