html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background-color: #F5F7FA;
  background-image: url("/media/bg-body.png");
  background-repeat: no-repeat;
  background-position: 50% 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", NotoColorEmoji, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y: scroll;
  min-width: 320px;
  font-display: swap;
  margin: 0;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  text-align: start;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg,
use {
  transform: translateZ(0);
  fill: currentColor;
  stroke: currentColor;
  display: block;
}

a {
  outline: none;
  text-decoration: none;
  color: #5D9CEC;

  &:hover {
    color: darken(#5D9CEC, 5%);
  }
}
