<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Geoapi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="header__logo">
          <a href="#">
            <img src="/media/logo.svg" width="190" height="34" alt="Webway.">
          </a>
        </div>

        <nav class="header__nav">
          <div class="header__clip">
            <div class="header__scroll">
              <ul class="header__menu">
                <li>
                  <a href="#">
                    Описание
                  </a>
                </li>
                <li>
                  <a>
                    Купить
                  </a>
                </li>
                <li>
                  <a href="#">
                    API
                  </a>
                </li>
                <li>
                  <a href="#">
                    Контакты
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="header__login">
            <a href="#">
              Вход
            </a>
          </div>
        </nav>
      </header>

      {{content}}

      <footer class="footer">
        <div class="footer__copyright">
          © 2019 – Webway.
        </div>
      </footer>
    </div>
  </body>
</html>
